EXPO_PUBLIC_PRIMARY_API_URL= 'https://api.met.no/weatherapi/locationforecast/2.0'
EXPO_PUBLIC_FALLBACK_API_URL= 'https://api.met.no/weatherapi/locationforecast/2.0'
EXPO_PUBLIC_PRIMARY_ALERTS_URL= 'https://severeweather.wmo.int/v2/cap-alerts/ke-kmd-en/rss.xml'
EXPO_PUBLIC_FALLBACK_ALERTS_URL= 'https://severeweather.wmo.int/v2/cap-alerts/ke-kmd-en/rss.xml'
EXPO_PUBLIC_APP_USER_AGENT= 'MET - Climweb Weather App v1'
EXPO_PUBLIC_APP_ALERTS_SENDER_ID= 'metcentre@email.com'
EXPO_PUBLIC_APP_TIMEZONE = 'Africa/Nairobi'
EXPO_PUBLIC_FORECAST_PROVIDER = 'yr'
EXPO_PUBLIC_ALERTS_PROVIDER = 'cap'
