EXPO_PUBLIC_PRIMARY_API_URL= 'https://api.met.no/weatherapi/locationforecast/2.0'
EXPO_PUBLIC_FALLBACK_API_URL= 'https://api.met.no/weatherapi/locationforecast/2.0'
EXPO_PUBLIC_PRIMARY_ALERTS_URL= 'https://www.ethiomet.gov.et/api/cap/rss.xml'
EXPO_PUBLIC_FALLBACK_ALERTS_URL= 'https://severeweather.wmo.int/v2/cap-alerts/et-emi-en/rss.xml'
EXPO_PUBLIC_APP_USER_AGENT= 'Climweb - Weather App v1'
EXPO_PUBLIC_APP_ALERTS_SENDER_ID= 'emi@ethiomet.gov.et'
EXPO_PUBLIC_APP_TIMEZONE = 'Africa/Addis_Ababa'
EXPO_PUBLIC_FORECAST_PROVIDER = 'yr'
EXPO_PUBLIC_ALERTS_PROVIDER = 'cap'
EXPO_PUBLIC_APP_COUNTRY_BBOX = '33.0,3.4,47.98,14.89'
